body {
  max-width: 1600px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
main {
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 3px 3px rgb(68, 158, 243);
  background-color: rgb(131, 190, 238);
  height: auto;
  width: auto;
  padding: 40px 20px 5px 20px;
}
.title {
  display: flex;
  justify-content: space-evenly;
}
h1 {
  color: #177add;
  font-size: calc(2vw + 10px);
}

.bmiLogo {
  height: 7vw;
}
/* this part is the main.  */
div.info {
  display: flex;
}

/* @media only screen and (max-width: 600px){
  .info {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  #picInfo {
    content: '';
    width: 100%;
    padding: 10%;
  }
} */

div#getInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

#someInfo {
  flex: 1;
}
#picInfo {
  flex: 1;
  border-radius: 8px;
}

#getInfo input {
  padding: 0.5rem;
  border-color: #8fbaf1;
  border-radius: 8px;
  font-size: 1.2vw;
  text-align: center;
  width: 60%;
}

#getInfo button {
  margin-top: 10px;
  padding: 0.8rem;
  background-color: #177add;
  color: white;
  border-color: #8fbaf1;
  font-size: 1.8vw;
  text-align: center;
  border-radius: 10px;
  width: 70%;
}

#someInfo ul {
  padding: 10px;
}
#someInfo ul li {
  padding-top: 8px;
  text-align: left;
  color: white;
  font-size: calc(0.5vw + 8px);
}

.info #picInfo {
  background: url("./images/default.jpg") no-repeat center/contain;
  background-color: #fdfdfd;
  width: 100%;
}
.bmiResult {
  margin: 10px auto;
  padding: 4px;
  background-color: #177add;
  text-align: center;
  color: white;
  border-radius: 8px;
}
.defaultPic {
  max-width: 200px;
  max-height: 200px;
}
.bmiResult h2 {
  font-size: calc(2vw + 10px);
}
